header{
    width: 100%;
    height: 100vh;
    background-image: url("../img/kolochava-g5cb8325d5_1920.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  div.big_logo{
    width: 20%;
    height: 10vw;
    display: inline-block;
    position: absolute;
    top: 2vh;
    left: 3%;
    font-size: 0px;
    box-sizing: content-box;
    /* padding: 1vw; */
    /* background-color: aquamarine; */
    /* border: 3px solid rgb(250,202,5); */
    background-color: rgba(0,0,0,0.5);
    /* background-color: rgba(184,172,172,0.7); */
  }
  
  div.small_logo{
    width: 45%;
    height: 100%;
    background-image: url(../img/Karpatska_Ukraina-2_COA.svg.png);
    background-size: contain;
    float: left;
  }

  div.big_logo div.text_wrapper{
    float: left;
    width: 55%;
    height: 100%;
    margin: 1.25vh 0;
    /* margin: auto 0; */
    /* background-color: rgba(0, 250, 100, 0.5) */
  }
  
  div.big_logo span{
    display: inline-block;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
  }

  div.big_logo span:first-of-type{
    color:rgb(250,202,5);
    font-size: 3.45vw;
    background-color: transparent;
  }

  div.big_logo span:nth-of-type(2){
    /* color: white; */
    color: rgb(220,4,4);
    font-size: 3.45vw;
    background-color: transparent;
  }

  div.big_logo span:nth-of-type(3){
    color: rgb(111, 180, 230);
    font-size: 2.76vw;
    background-color: transparent;
  }

  div.big_logo span:nth-of-type(4){
    /* color: rgb(220,4,4); */
    color: white;
    font-size: 2.76vw;
    background-color: transparent;
  }

  
  
  a.call_to_action{
    position: absolute;
    right: 5%;
    bottom: 3vh;
    width: 24vh;
    height: 7vh;
    background-color: transparent;
    border: 3px solid white;
    background-color: rgba(0,0,0,0.5);
   text-align: center;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-size: 3.5vh;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 7vh;
  }

  a.call_to_action:hover{
    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(0, 0, 0);
  }
  
  